<img style="float: right;width: 330px;margin-left: 30px;" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/What-to-do-after-a-Motor-Vehicle-Accident-01.png">

Welcome to our premium stress free accident repair service with <strong>50% excess reduction*</strong> when you are at fault.

If you are in an accident while driving your Vehicle we will provide the following benefits:
<ol>
    <li>Insurance Claims Management
        We will manage on your behalf and with your consent, any claim for insurance made by you.</li>

    <li>24-hour Dedicated Accident Assistance
        Call T-Tech automotive on <a href="tel:0296635242">02 9663 5242</a>. We will arrange transportation for you and/ or towing for your Vehicle.</li>

    <li>Vehicle Collection Service
        We will pick up your damaged Vehicle from your home or office free of charge if in the metropolitan area.</li>

    <li>Cabcharge Vouchers
        Back to Sydney’s central business district by taxi up to the value of $50.</li>

    <li>Valet Service
        Complimentary to Sydney Airport, Your Insurance Company Assessment Centre.</li>

    <li>State of the Art Repair Facility
        Our state of the art repair facility was purpose built to cater for any make and model. It utilises factory approved paint and dedicated jig repair benches, scissor lifts, spray booths which have been exclusively made to fulfil manufacturers specifications . This ensures all repairs are made with the accuracy of the original assembly line.</li>

    <li>Trained Technicians
        Our trained technicians have over 20 years of worldwide experience. They have received specialised training and have developed advanced repair skills so repairs to your Vehicle’s paintwork and body are performed with precision, commitment and care.</li>


    <li>Vehicle Detailing and Leather Trim Conditioning
        We can organise a full and complete detail of your Vehicle.</li>


    <li>Costs Savings on Dent Repairs
        T-Tech Automotive group has trained technicians who use special techniques to push out certain dents on the panels of your Vehicle’s body without disturbing the paintwork. This could save you thousands of dollars in remedying minor depressions.</li>

    <li>Permaguard Paint Protection
        Providing  the best protection technology commercially available and the benefit of an unrivalled depth of colour and gloss.</li>


    <li>Lifetime Warranty
        We warrant the repairs to the body and paint work of your vehicle for the lifetime that you own the vehicle.</li>
</ol>

<div class="container accident-management-section">
    <div class="col-sm-12 col-md-6">
        <h2>Straight claims</h2>
        <h3><span>Accident scene assistance</span></h3>
        Accident scene assistance 24 hrs 7 days, you can contact T-Tech Automotive support line on our hotline <a href="0296635242">02 9663 5242</a>.

        <h3><span>Repair book in &amp; quotation</span></h3>        
        Your car will be inspected for damages and the best method of repair decided. We will book your car for repairs at our repair facility.   

        <h3><span>Average repair times</span></h3>        
        Single panel repair 2 – 3 days
        Small work 1 ½ weeks
        Medium work 2 ½ weeks
        Large work 3 ½ weeks
        Extra large work 6 + weeks

        <h3><span>Assistance with claim lodgement</span></h3>        
        Take advantage of our claims professionals to assist you with your claim lodgement, from the comfort of our offices. Our customer service staff are there to simplify this process for you, which, when unassisted, can be very time consuming and frustrating.

        <h3><span>Gaining your insurance company’s approval</span></h3>        
        We cannot commence repairs on your car until it has been inspected and approved by your insurer. All insurance companies are different and gaining approval can take time. We will do everything in our power to get this authority as soon as possible. Our customer service staff will call you after the insurance inspection and explain how the assessment went and exactly what the assessor has approved. If there are delays in the authorisation of your claim we will notify you immediately.

        <h3><span>Dissmantling &amp; quotation</span></h3>        
        At this stage each vehicle is disassembled to expose all hidden damage. A quotation is prepared and all parts are pre ordered. An expected repair time is then established. 

        <h3><span>Parts ordering</span></h3>        
        Once your car has been authorised for repair we will confirm the parts order. Sometimes parts come from interstate and sometimes from overseas (for example, England or Europe). We will notify you immediately of any part delays.

        <h3><span>Customer updates</span></h3>        
        We will phone or email you upon car authorisation. Our customer service staff will ring you with further updates as required, especially with more complex jobs. If at any time you have a query do not hesitate to call customer service on <a href="0296635242">02 9663 5242</a>.

        <h3><span>Panel &amp; structural repairs</span></h3>        
        At this stage each vehicle is measured and reset using manufacture approved aligning equipment, to ensure the settings match factory specifications. All repair work is conducted in strict compliance with the manufacturer’s specifications. Each vehicle is subject to quality assurance check list by production manger before progressing to the paint shop.

        <h3><span>Prepare and paint</span></h3>        
        Each vehicle’s paint thickness is measured and checked against manufacturers specifications. Vechicle's are then prepped and masked ready for paining.  This includes sanding, hi-fill and curing, and dust extraction.  The surface condition of each vehicle and its panels are inspected prior to paining. Paint is applied in a dust free, climate controlled spray booth. The vehicle is then baked at a set temperature and time to allow for paint curing. This will ensure paint durability and a factory quality finish.

        <h3><span>Buff &amp; denib</span></h3>        
        Once the fresh paintwork has dried, the vehicle is unmasked and de-nibbed to remove any minor imperfections in the paintwork. The vehicle and panels are then machine buffed &amp; polished.

        <h3><span>Reassembly</span></h3>        
        At this stage each vehicle is reassembled and a fitment quality check ensures that all parts and panels are fitted in accordance with manufacturers specifications.  Each vehicle is then road tested and mechanical checks are performed where necessary, to ensure the vehicle functions as it did prior to repairs.

        <h3><span>Wash, vacuum &amp; inspection</span></h3>        
        Finally, each vehicle is washed and vacuumed to a high standard and a complete quality inspection is conducted.

        <h3><span>Quality workmanship</span></h3>        
        When it comes to repairs, you cannot compromise on quality. Our rigorous quality assurance systems ensure that each vehicle is thoroughly checked at the end of each repair stage prior to proceeding. This results in a finished product of the highest possible standard.

        <h3><span>Warranty on all repairs</span></h3>        
        All our customers receive the finest quality repairs available.
    </div>

    <div class="col-sm-12 col-md-6">
        <h2>Third-party claims</h2>
        <h3><span>Accident scene assistance</span></h3>
        Accident scene assistance 24 hrs 7 days, you can contact T-Tech Automotive support line on our hotline <a href="0296635242">02 9663 5242</a>.

        <h3><span>Repair book in &amp; quotation</span></h3>        
        Your car will be inspected for damages and the best method of repair decided. We will book your car for repairs at our repair facility.   

        <h3><span>Average repair times</span></h3>        
        Single panel repair 2 – 3 days
        Small work 1 ½ weeks
        Medium work 2 ½ weeks
        Large work 3 ½ weeks
        Extra large work 6 + weeks

        <h3><span>Lodge claims with the other party's insurance company</span></h3>        
        Being a third party and suffer damages caused by another person, you are entitled to lodge a claim with the other party's insurance company.
        Take advantage of our claims professionals to assist you with your claim lodgement, from the comfort of our offices. Our customer service staff are there to simplify this process for you, which, when unassisted, can be very time consuming and frustrating.

        <h3><span>Finalise the insurance claim on your behalf</span></h3>        
        We cannot commence repairs on your car until it has been inspected and approved by an independent accessor and until we have a confirmation of admission of liability from the other party's insurance company. All insurance companies are different and gaining approval can take time. We will do everything in our power to get this authority as soon as possible. Our customer service staff will call you after the insurance inspection and explain how the assessment went and exactly what the assessor has approved. If there are delays in the authorisation of your claim we will notify you immediately.

        <h3><span>Dissmantling &amp; quotation</span></h3>        
        At this stage each vehicle is disassembled to expose all hidden damage. A quotation is prepared and all parts are pre ordered. An expected repair time is then established. 

        <h3><span>Parts ordering</span></h3>        
        Once your car has been authorised for repair we will confirm the parts order. Sometimes parts come from interstate and sometimes from overseas (for example, Japan or Germany). We will notify you immediately of any part delays. 

        <h3><span>Customer updates</span></h3>        
        We will phone or email you upon car authorisation. Our customer service staff will ring you with further updates as required, especially with more complex jobs. If at any time you have a query do not hesitate to call customer service on 02 9212 3566.

        <h3><span>Panel &amp; structural repairs</span></h3>        
        At this stage each vehicle is measured and reset using manufacture approved aligning equipment, to ensure the settings match factory specifications. All repair work is conducted in strict compliance with the manufacturer’s specifications. Each vehicle is subject to quality assurance check list by production manger before progressing to the paint shop.

        <h3><span>Prepare and paint</span></h3>        
        Each vehicle’s paint thickness is measured and checked against manufacturers specifications. Vechicle's are then prepped and masked ready for paining.  This includes sanding, hi-fill and curing, and dust extraction.  The surface condition of each vehicle and its panels are inspected prior to paining. Paint is applied in a dust free, climate controlled spray booth.  The vehicle is then baked at a set temperature and time to allow for paint curing.  This will ensure paint durability and a factory quality finish.

        <h3><span>Buff &amp; denib</span></h3>        
        Once the fresh paintwork has dried, the vehicle is unmasked and de-nibbed to remove any minor imperfections in the paintwork. The vehicle and panels are then machine buffed &amp; polished.

        <h3><span>Reassembly</span></h3>        
        At this stage each vehicle is reassembled and a fitment quality check ensures that all parts and panels are fitted in accordance with manufacturers specifications.  Each vehicle is then road tested and mechanical checks are performed where necessary, to ensure the vehicle functions as it did prior to repairs.

        <h3><span>Wash, vacuum &amp; inspection</span></h3>        
        Finally, each vehicle is washed and vacuumed to a high standard and a complete quality inspection is conducted.

        <h3><span>Quality workmanship</span></h3>        
        When it comes to repairs, you cannot compromise on quality. Our rigorous quality assurance systems ensure that each vehicle is thoroughly checked at the end of each repair stage prior to proceeding. This results in a finished product of the highest possible standard.

        <h3><span>Warranty on all repairs</span></h3>        
        All our customers receive the finest quality repairs available.
    </div>
</div>

<div class="services-cta col-xs-12">
    <div class="background"></div>
    <div>Speak to one of the experts at T-Tech Automotive about your car today. Call <a href="tel:0296635242">02 9663 5242</a></div>
</div>