<p>Every department at T-Tech Classic restorations  - servicing, parts, engineering, restoration, race preparation, modifications, sales, valuations, estimates, national wide  collection/delivery and finance - sits under the roof of our purpose-built engineering and sales complex.</p>
<p>We source classic cars for our clients, buy, sell, build, restore, upgrade, service, race and value them. Drawing on decades of worldwide experience at every level of motor engineering and finishing, we introduce groundbreaking innovations with skill and dedication.Everyone on site shares a passion for classic cars and customers are welcome to meet the team and the technicians working on their cars at any time.</p>
<p>Classic cars are brought from all over the Australia brought to T-Tech Classics for restoration. Whether repairs, modifications or modernisations, our work can add significant value to your car and pleasure to its ownership.</p>
<p>T-TECH Classics produces concours-winning restorations and rebuilds enhanced with TTECH Sport Upgrades to protect classic car drivers on today’s roads.</p>
<p>Your period vehicle will be prepared to the highest standards. We can totally rebuild your car from the chassis up, restore to perfection any original parts that can be reclaimed and reproduce original specifications to the finest detail.</p>
<p>We specialize in Mercedes, Porsche  restorations but also rebuild cars from other prestigious marques, such as Holden, Ford, Aston Martin, Bentley and Ferrari, to the same superior finish.</p>
<p>Classic car restorations you can trust...</p>
<ul>
    <li>Rotisserie Re-paint</li>
    <li>Re-trim</li>
    <li>Re-chrome</li>
    <li>Rebuild</li>
    <li>Restoration projects – total rotisserie chassis-off restoration or any combination of these</li>
</ul>

<div class="showcase-gallery">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10649568_770819496309614_5924557188917868521_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10644837_770819529642944_5467775965032171144_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10636341_770819549642942_1338372917392214316_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10632682_770819576309606_1281987410986105580_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10563027_755620311162866_2024981786730477402_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10561726_770819466309617_7840484797052685952_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10516720_755620274496203_1668116238524688636_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10489627_755620234496207_5540980600292007590_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10478681_755620471162850_763125188161114442_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10461321_755620187829545_8415925926931628946_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10455452_755620354496195_1201570858731586992_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10434310_755620404496190_6878561206970846257_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10411825_770819512976279_3407539965998189222_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10360839_755620111162886_3928893134658733115_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10300286_755620074496223_3880674094053367332_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/10300242_755620207829543_4717442671754203377_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
        <div class="col-xs-12 col-md-3">
            <img class="img-responsive" src="http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/1921878_755620547829509_2814028110649704578_n.jpg" alt="T-Tech Automotive Classic Rotisserie Restoration" />
        </div>
    </div>
</div>

<h3>Concours-winning attention to detail</h3>
<p>Alternatively, your passion may be for full-scale, period restorations that faithfully reproduce every detail of the original. Whatever the marque, Ttech Classics is the ideal supplier.</p>
<p>We have a library of original drawings and diagrams that were used in period. We source original parts, but if no longer available our engineers and technicians craft them in house. We also make modifications that can be easily replaced with original parts for award-winning presentations.</p>
<p>The result? Stunning restorations with authenticity and integrity that have taken awards at some of the world’s leading concours events.</p>
<p>Enjoy a piece of motoring history as it was originally designed, and even put it to the test at a concours event - with a Ttech Classics rebuild your classic car can pass any level of scrutiny with flying colours.</p>
<div class="services-cta col-xs-12">
    <div class="background"></div>
    <div>Speak to one of the experts at T-Tech Automotive about your car today. Call <a href="tel:0296635242">02 9663 5242</a></div>
</div>