/*

Theme Name:         T-Tech Automotive
Theme URI:          http://www.pixarwpthemes.com/wordpress/carnews
Description:        This is a custom theme for T-Tech Automotive based on Car News theme.
Version:            1.4
Author:             Ren & Rey
Author URI:         http://renrey.com
Template:           carnews
License:            GPL v2
License URI:        http://www.gnu.org/licenses/gpl-2.0.html

*/

/*****************************************************************
GLOBAL
******************************************************************/

body {
    background-color: #FEFEF2!important;
}

body #logo:after {
    background: none;
}

body #logo .transform-please-2, body #logo-bottom .transform-please-2 {
    transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
}

body .bglogo1.transform-please-2 img {
    transform: rotate(0deg) scale(1.003) skew(-43deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(-43deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.003) skew(-43deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.003) skew(-43degg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.003) skew(-43deg) translate(0px);
}

body .navbar-top .navbar-nav {
    left: 76px;
    top: 25px;
}

body article.section-header {
    display: none;
}

body .section-header hr {
    display: none;
}

body .navbar-top .navbar-nav li {
    background-color: #DA0A0A;
}

body #main-nav li {
    background-color: #F6EA38;
}

body .navbar-default #menu-main.navbar-nav>li>a {
    color: #393B4E;
}

body .navbar-default #menu-main.navbar-nav>li>a small {
    color: #393B4E;
}

body .navbar-default #menu-main.navbar-nav>li.current-menu-item>a, 
body .navbar-default #menu-main.navbar-nav>li>a:hover, 
body .navbar-default #menu-main.navbar-nav>li>a:focus {
    color: #fff;
}
body .navbar-default #menu-main.navbar-nav>li.current-menu-item>a small, 
body .navbar-default #menu-main.navbar-nav>li>a:focus small, 
body .navbar-default #menu-main.navbar-nav>li>a:hover small {
    color: #fff;
}
body #main-nav li .sub-menu a {
    color: #393B4E;
}
body #main-nav li .sub-menu a:hover, 
body #main-nav li .sub-menu a:focus {
    color: #fff;
}

body header#main-header .container .row > .col-md-4 { /* logo container */
    z-index: 10;
}

body header#main-header .container .row > .col-md-6 { /* top nav */
    z-index: 14;
}

body section.prefooter {
    display: none;
}

body li.current_page_ancestor a span, li.current_page_ancestor a small {
    color: #fff!important;
}

/*****************************************************************
END GLOBAL
******************************************************************/

/*****************************************************************
HOME
******************************************************************/

body .service-item > div { height: 155px; } /* fix tiles stacking issue */

body .row.service-item h4 {
    color: #000;
    font-size: 1.4em;
}

body .section-12 {
    margin: 30px 0 70px;
    clear: both;
    display: block;
    background-color: #F6EA38;
    padding: 30px 0 50px;
}

body .section-12 .ask-a-question {
    font-size: 1.5em;
    text-align: center;
    color: #0B0A7E;
}

body .ask-a-question .transform-revers {
    background-color: #DA0A0A;    
    display: inline-block;
    padding: 15px 10px 15px 10px;
    margin-left: 10px;
}

body .section-11 { /* contact us */
    background-color: #DA0A0A;
}

body .ask-a-question .transform-revers a {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
}

body .section-3 {
    margin-bottom: 30px;
}

body .section-6 {
    margin: 20px 0;
}

body section.prefooter {
    margin: 150px 0 50px;
}

body .section-1:before {
    content: 'what we do';
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 42px;
    display: inline-block;
    text-align: center;
    color: #DA0A0A;
}

body header.ip-header { /* change loader background color */
    background-color: #DA0A0A;
}

body .row.service-item .box-transform {
    display: none;
}

/*****************************************************************
END HOME
******************************************************************/

/*****************************************************************
SERVICES
******************************************************************/

body .services-cta.col-xs-12 {
    margin: 20px 0 0;  
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;            
}

body .services-cta.col-xs-12 > .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DA0A0A;
    z-index: 1;
    transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
}

body .services-cta.col-xs-12 div > a {
    color: #fff !important;
}

body .services-cta.col-xs-12 div {
    padding: 20px;
}

body .services-cta.col-xs-12 > div {
    position: relative;
    z-index: 2;
}

body .accident-management-section h2 {
    color: #DA0A0A;
    font-weight: 700;
}

/*****************************************************************
END SERVICES
******************************************************************/

/*****************************************************************
T-Tech custom
******************************************************************/

body .ttech-custom-nav a {
    margin-bottom: 5px;
}

body.single-benefit .entry-thumbnail.img {
    margin-right: 20px;
}

body ul.models li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

body .expandos .expando {
    display: none;
}

body ul.models {
    padding-left: 0;
    margin-top: 20px;
}

body ul.models h3 {
    margin-bottom: 5px;
    margin-top: 0;
}

body ul.models li {
    text-decoration: underline;
    cursor: pointer;
}

body .brands li {
    cursor: pointer;
}

body ul.models li:focus h3, body ul.models li:hover h3 {
    color: #DA0A0A;
}

body .ttech-custom-content > div > p {
    margin-bottom: 5px;
}

body .ttech-custom-content .line {
    margin: 0 0 10px;
}

body .ttech-custom-content h2 {
    margin-bottom: 0;
}

body .ttech-custom-content > div {
    display: none;
}

body ul.models li.selected > h3 {
    color: #DA0A0A !important;
}

body table.pricing-table td:first-child img {
    width: 100%;
}

body table.pricing-table td:first-child {
    width: 50%;
}

body table.pricing-table td:nth-child(2) {
    width: 40%;
}

body table.pricing-table td:last-child {
    width: 10%;
    text-align: right;
}

body .brands span.alt-text {
    display: none;
}

body .brands li {
    list-style: none;
    display: inline-block;
    width: 120px;
    margin: 15px;
}

body .brands img {
    width: 100%;
}

body .brands {
    margin-top: 50px;
}

body .brands ul {
    padding-left: 0;
    margin-top: -25px;
}

body .expando h2, body .accident-management-section h3 {
    font-size: 1.2em;
    margin-bottom: 0;
    text-transform: uppercase;
    background: #DA0A0A;
    color: #fff;
    transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
    padding: 2px 12px 0;
    font-weight: 400;
}

body .accident-management-section h3 {
    background: #000;
}

body .expando h2 span, body .accident-management-section h3 span {
    display: block;
    transform: rotate(0deg) scale(1.003) skew(26deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
    -o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
}

/*****************************************************************
gallery
******************************************************************/

body .showcase-gallery .row > div{
    margin-bottom: 20px;
}

/*****************************************************************
end gallery
******************************************************************/

/*****************************************************************
end T-Tech custom
******************************************************************/

@media screen and (max-width: 797px) {
    body header#main-header {
        background-image: url('http://ttechauto.lightningbasehosted.com/wp-content/uploads/2015/06/11148630_909927842398778_2917572502065294545_n.jpg') !important;
        background-size: cover !important;
    }
}